@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.portraits {
  display: flex;
  gap: 2em;

  @media (max-width: 678px) {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .image_container {
    width: 425px;
    aspect-ratio: 1/1;
    position: relative;

    @media (max-width: 678px) {
      width: 100%;
    }
  }
}
