@use "@/styles/_dirs/variables" as var;
@use "@/styles/_dirs/mixins" as mix;

.show {
  width: 425px;
  aspect-ratio: 1/1;
  border: 1px solid var(--show-border-color);

  @media (max-width: 678px) {
    width: 100%;
  }

  &_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.6em;
    text-transform: uppercase;
    transition: background 0.25s ease-in;

    span {
      transition: color 0.25s ease-in;

      &:first-child {
        color: var(--text-normal);
        font-weight: bold;
      }

      &:last-child {
        color: var(--text-light);
      }
    }

    @include mix.OnlyPc {
      &:hover {
        background: var(--show-bg-hover);

        span:first-child {
          color: var(--show-text-strong-hover);
        }

        span:last-child {
          color: var(--show-text-light-hover);
        }
      }
    }
  }
}
